*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #354f5b;
  
}

.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 min-height: 80vh;
 border: 2px solid #000;
 padding: 20px;
 font-size: 25px;
 color: #f8f9fa;
}

.container h1{
  font-size: 40px;
}


.form{
  display: flex;
  justify-content: space-around;
  width: 450px;
  padding: 20px;
}

 form > input{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
  color: #fff;
  font-size: 20px;
}
button{
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.toDosUl{
 list-style: none;
 margin: 0;
 padding: 0;
}
.singleToDo{
  border-radius: 50px;
  margin: 8px 0;
  background: #426a6f;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 450px;
 transition: all 0.2s ease-in-out;
}

.singleToDo:hover{
    background: #425a6f;
}
.toDoText{
  flex: 1;
  display: flex;
  margin-left: 5px;
}
svg{
  cursor: pointer;
  margin: 5px;
}
.fall {
  transform: translateY(10rem) rotateZ(20deg);
  /* opacity: 0; */
  background: red;
}



